main p {
    background-color: var(--lightgrey);
    margin: 5vh auto;
    padding: 20px;
    border-radius: 20px;
    max-width: 800px;
    font-size: 30px;
    opacity: 80%;
    color: var(--darkgrey);
}
main a {
    color: var(--blue)
}
footer {
    position: relative;
}