@import "default_footer.css";
@import "default_header.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 1000px;
  /* Used for debugging */
  /* border: 1px solid black; */
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px auto 0 auto; /* 20px top, auto l/r, 0 bottom*/
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
}
main {
  width: 900px;
}

a:visited {
  color: blue;
}
a {
  color: blue;
}
hr {
  margin: 10px 0;
}
h3 {
  font-weight: 500;
  margin: 5px 0;
}
