h1 {
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: center;
}
h2 {
  font-size: 1.25em;
}
header nav {
  justify-content: center;
  display: flex;
  flex-direction: column;
}
nav ul li a {
  text-decoration: none;
  font-size: 1em;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  padding: 0;
}
nav ul li:not(:last-child) {
  margin-right: 10px;
}
nav ul li:not(:last-child)::after {
  content: " | ";
}
