/*
ROOT
 */
:root {
    --darkgrey: #2f2f2f;
    --lightgrey: #f4f4f4;
    --blue: #2276a0;
    --background-image: url('../images/washington.jpg');
}

html {
    scroll-behavior: smooth;
    font-family: 'Courier New', Courier, monospace;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*
HEADER SECTION
 */
header {
    margin: 5vh auto;
    max-width: 500px;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--lightgrey);
    opacity: 80%;
}

header p {
    font-weight: bold;
    font-size: 20px;
    color: var(--darkgrey);
}

header span {
    font-weight: bold;
}
/*
GENERAL
 */
h2 {
    font-size: 30px;
}

a {
    transition: 0.5s;
}

p {
    font-weight: bold;
}
main {
    padding-bottom: 5vh;
}

a:hover {
    color: var(--blue);
    font-weight: bolder;
}

span {
    color: #2276a0;
    font-weight: bold;
}

/*
NAVBAR SECTION
 */
h1 {
    color: #fff;
    font-size: 25px;
    border-color: #fff;
    text-decoration: none;
    font-weight: normal;
}
nav {
    background: var(--darkgrey);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
}
nav div {
    display: flex;
    flex-direction: column;
}
nav ul {
    display: flex;
    padding: 0;
    justify-content: center;
}
nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
footer nav {
    flex-direction: row;
    padding: 10px 10%;
}
#divider {
    border-bottom: 1px solid var(--lightgrey);
    width: 80%;
    align-self: center;
}

/*
FOOTER SECTION
 */
footer {
    display: flex;
    flex-direction: column;
    background: var(--darkgrey);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    font-weight: normal;
}

footer a {
    color: white;
    text-decoration: none;
}
#mobile {
    display: none;
}

/*
DEVICE SETTINGS
 */

main {
    max-width: 1200px; /* Adjust as needed */
    width: 90%; /* Adjust percentage based on design requirements */
    margin: 0 auto; /* Centers the content horizontally */
}

/* Rule Overrides For Laptops / Small Screens */
@media screen and ( min-width: 981px ) and ( max-width: 1400px ) {
    h1 {
        font-size: 20px;
    }
    nav div ul li a {
        font-size: 15px;
    }
    nav {
        flex-direction: column;
    }
    nav div {
        flex-direction: column-reverse;
        max-width: 50%;
    }
    main {
        max-width: 981px;
    }
}
/* Rule Overrides For Tablet Devices */
@media screen and ( min-width: 601px ) and ( max-width: 980px )  {
    main {
        max-width: 80%;
    }
    h1 {
        font-size: 20px;
    }
    nav div ul li a {
        font-size: 14px;
    }
    nav {
        flex-direction: column;
    }

    nav div {
        flex-direction: column-reverse;

    }
    footer {
        font-size: 14px;
    }
    #main nav {
        padding: 0 10px;
    }
}
/* Rule Overrides For Mobile Devices */
@media screen and (min-width: 370px) and (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    h1 {
        font-size: 12px;
    }
    nav div ul li a {
        font-size: 14px;
    }
    nav div {
        max-width: 75%;
        flex-direction: column-reverse;
    }
    main {
        max-width: 80%;
    }
    #main {
        display: none;
    }
    #mobile {
        display: flex;
    }
    #mobile p:not(:last-child) {
        font-size: 20px;
        margin: 5px;
        padding: 5px;
        border-bottom: var(--lightgrey) 1px solid;
    }
}
