@import "default_footer.css";
@import "default_header.css";
@import "navbar.css";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 1500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 20px auto 0 auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.1em;
}

a:visited {
  color: blue;
}
a {
  color: blue;
}
