nav ul{
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    list-style: none;
}
nav ul li a {
    text-decoration: none;
}
a:visited{
    color: blue;
}
a {
        color: blue;
}
/* Center body content horizontally and vertically */
body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    margin: 0;
}