main {
    max-width: 800px;
    background-color: var(--lightgrey);
    padding: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    margin: auto auto 5vh;
}
img {
    border-radius: 10px;
}
i {
    margin-top: 10px;
    text-align: center;
}
footer {
    position: relative;
}
