.text {
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    max-height: 600px;
    background-color: var(--lightgrey);
    display: flex;
    flex-direction: column;
}
.introduction img {
    max-width: 600px;
    max-height: 600px;
    border-radius: 20px;
}
.introduction {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
}
h2 {
    color: white;
    background-color: var(--darkgrey);
    padding: 10px;
    max-width: fit-content;
    border-radius: 10px;
    text-align: center;
    justify-self: center;
   margin: 5vh 0 5vh 0;
}
.bold {
    font-weight: bold;
}
@media(max-width: 1800px){
    .introduction img {
        max-width: 400px;
        max-height: 400px;
        border-radius: 20px;

    }
    .text {
        max-width: 400px;
        max-height: none;
        margin-top: 20px;
    }
    .introduction {
        display: flex;
        margin: auto;
        align-items: center;
        flex-direction: column;
    }
    footer {
        margin-top: 5vh;
        position: relative;
    }
    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.image p {
    text-align: center;
    color: var(--lightgrey);
    padding: 10px;
    border-radius: 10px;
    background-color: var(--darkgrey);
}
@media(max-height: 900px) {
    .introduction {
        display: flex;
    }

}