nav ul li a {
  text-decoration: none;
  font-size: 1.15em;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
nav ul li:not(:last-child) {
  margin-right: 10px;
}
nav ul li:not(:last-child)::after {
  content: " | ";
}
