<header>
    <h1><a onclick="load(mainLinks.index)">Learn Kotlin!</a></h1>
    <nav>
        <div id="basics" class="drop-down">
            <p class="link">Basics</p>
            <div id="basics-dropdown" class="drop-down-links">
                <a onclick="load(basicLinks.introduction)">Introduction</a>
                <a onclick="load(basicLinks.variables)">Variables</a>
                <a onclick="load(basicLinks.types)">Types</a>
                <a onclick="load(basicLinks.functions)">Functions</a>
                <a onclick="load(basicLinks.classes)">Classes</a>
            </div>
        </div>
        <div id="resources">
            <p class="link"><a onclick="load(mainLinks.resources)">Resources</a></p>
        </div>
        <div id="applications" class="drop-down">
            <p class="link">Applications</p>
            <div id="applications-dropdown" class="drop-down-links">
                <a href="">Introduction</a>
                <a href="">Kotlin Multiplatform</a>
                <a href="">Android Applications</a>
            </div>
        </div>
    </nav>
</header>