<footer>
  <nav>
    <ul>
      <li>
        <a href="https://webpages.charlotte.edu/aprechte">CLT Web</a>
      </li>
      <li><a href="https://alexandernc0043.github.io">GitHub Pages</a></li>
      <li><a href="https://www.github.com/alexandernc0043">GitHub</a></li>
      <li>
        <a href="https://www.freecodecamp.com/aprechte">freeCodeCamp</a>
      </li>
      <li><a href="https://linkedin.com/in/alex-prechtel">LinkedIn</a></li>
    </ul>
  </nav>
  <p>Copyright 2026 &copy;</p>
</footer>
