<footer>
    <nav>
        <a href="https://webpages.charlotte.edu/aprechte" target="_blank">CLT Web</a> | <a
            href="https://github.com/alexandernc0043" target="_blank">GitHub</a> | <a
            href="https://alexandernc0043.github.io/" target="_blank">GitHub.io</a> | <a
            href="https://alexandernc0043.github.io/itis3135/" target="_blank">ITIS3135.io</a> | <a
            href="https://www.freecodecamp.org/aprechte" target="_blank">freeCodeCamp</a> | <a
            href="https://www.codecademy.com/profiles/aprechte" target="_blank">Codecademy</a> | <a
            href="https://www.linkedin.com/in/alexander-prechtel-b4a0a9283/" target="_blank">LinkedIn</a>
    </nav>
    <p><small>Designed by <a href="alexanderprechteldesigns.com/index.html">Alexander Prechtel Designs</a> | Certified in <a href="https://www.freecodecamp.org/certification/aprechte/responsive-web-design" target="_blank">Responsive Web Design</a> | Image taken by Alexander Prechtel in 2024 at the Library of Congress in Washington, DC</small></p>
</footer>
