<footer>
  <nav>
    <ul>
      <li>
        <a href="https://webpages.charlotte.edu/aprechte" target="_blank">
          Charlotte Web
        </a>
      </li>
      <li>
        <a href="https://alexandernc0043.github.io" target="_blank">
          GitHub Pages
        </a>
      </li>
      <li>
        <a href="https://www.github.com/alexandernc0043" target="_blank">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://www.freecodecamp.com/aprechte" target="_blank">
          freeCodeCamp
        </a>
      </li>
      <li>
        <a href="https://linkedin.com/in/alex-prechtel" target="_blank">
          LinkedIn
        </a>
      </li>
    </ul>
  </nav>
  <p>Copyright 2026 &copy;</p>
</footer>
