<header>
  <h1>Alexander Prechtel's Advanced Pegasus | ITIS 3135</h1>
  <nav>
    <ul>
      <li><a href="index.html">Home</a></li>
      <li><a href="contract.html">Contract</a></li>
      <li><a href="survey.html">Survey</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="inventory.html">Inventory</a></li>
      <li><a href="instructions.html">Instructions</a></li>
      <li><a href="highlight.html">Highlight</a></li>
    </ul>
    <ul>
      <li><a href="stuff/crappy page.htm">CRAPpy Page</a></li>
    </ul>
  </nav>
</header>
