<div class="navbar">
    <div class="container">
        <nav>
            <h1 id="name">Alexander Prechtel's Advanced Pegasus ★ ITIS 3135 ★ %title%</h1>
            <ul id="sidemenu">
                <li><a href="..">Home</a></li>
                <li><a href="index.html">ITIS 3135</a></li>
                <li><a href="introduction.html">Introduction</a></li>
                <li><a href="contract.html">Contract</a></li>
                <li><a href="../../advanced_pegasus/index.html">Advanced Pegasus</a></li>
            </ul>
        </nav>
    </div>
</div>