<nav>
    <h1>Alexander Prechtel's Advanced Pegasus ★ ITIS 3135</h1>
    <div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contract.html">Contract</a></li>
        </ul>
        <div id="divider"></div>
        <ul>
            <li><a href="../advanced_pegasus/index.html">Advanced Pegasus</a></li>
            <li><a href="stuff/cRaPpY💩 website.htm">Crap Website</a></li>
            <li><a href="websiteevaluation.html">Website Evaluation</a></li>
            <li><a href="hobby/#home">Hobby Site</a></li>
        </ul>
    </div>
</nav>