<nav>
    <h1>Alexander Prechtel's Advanced Pegasus ★ ITIS 3135</h1>
    <div>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="introduction.html">Introduction</a></li>
            <li><a href="contract.html">Contract</a></li>
            <li><a href="tables.html">Tables</a></li>
            <li><a href="byo_intro.html">BYO Intro</a></li>
            <li><a href="project_overview.html">Client Project Overview</a></li>
            <li><a href="forms.html">EC Forms</a></li>
        </ul>
        <div id="divider"></div>
        <ul>
            <li><a href="../advanced_pegasus/index.html">Advanced Pegasus</a></li>
            <li><a href="stuff/cRaPpY💩 website.htm">Crap Website</a></li>
            <li><a href="websiteevaluation.html">Website Evaluation</a></li>
            <li><a href="hobby/#home">Hobby Site</a></li>
            <li><a href="client/index.html">Client Project</a></li>
        </ul>
    </div>
</nav>


<!--<nav>-->
<!--    <h1>Alexander Prechtel's Advanced Pegasus ★ ITIS 3135</h1>-->

<!--    <div class="dropdown">-->
<!--        <p>Main Links</p>-->
<!--        <div class="dropdown-content">-->
<!--            <a href="index.html" class="dropdown-link">Home</a>-->
<!--            <a href="introduction.html" class="dropdown-link">Introduction</a>-->
<!--            <a href="contract.html" class="dropdown-link">Contract</a>-->
<!--            <a href="tables.html" class="dropdown-link">Tables</a>-->
<!--            <a href="byo_intro.html" class="dropdown-link">BYO Intro</a>-->
<!--            <a href="project_overview.html" class="dropdown-link">Client Project Overview</a>-->
<!--            <a href="forms.html" class="dropdown-link">Extra Credit: Forms</a>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="dropdown">-->
<!--        <p>Secondary Links</p>-->
<!--        &lt;!&ndash; Add secondary dropdown content if needed &ndash;&gt;-->
<!--    </div>-->
<!--</nav>-->

<!--<link rel="stylesheet" href="styles/dropdown.css">-->