html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightslategray;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darkgrey;
    width: 100%;
    height: 75px;
}

h1 {
    width: 50%;
}

nav div p {
    background-color: #04AA6D;
    padding: 12px;
    border-radius: 15px;
    font-size: 25px;
}

#basics, #applications {
    cursor: pointer;
}

nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav div {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    align-items: center;
}

.drop-down {
    position: relative;
    display: inline-block;
    text-align: center;

}

.drop-down-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: calc(75% + 1px);
    left: 0;
    z-index: 1;
    width: 100%;
    background-color: lightgrey;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    margin-top: 0;
}

.drop-down:hover .drop-down-links {
    display: flex;
}

.drop-down-links a {
    padding: 20px 0 20px 20px;
    width: calc(100% - 20px);
    text-align: left;
    text-decoration: none;
    color: black;
}
.drop-down-links a:last-child:hover {
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.drop-down-links a:hover {
    background-color: white;
}

.no-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.drop-down:hover p {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.drop-down:hover .drop-down-links {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}