h3 {
    text-align: center;
    font-size: 1.55em;
}
figure {
    align-items: center;
    display: flex;
    flex-direction: column;
}
figcaption {
    font-style: italic;
    margin-top: 10px;
}
main {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
blockquote {
    text-align: center;
}

img {
    width: 450px;
}